<div style="display: flex; flex-direction: row; gap: 10px; width: 100%;">

    <div style="display: flex; flex-direction: column; gap: 10px; width: 100%;">

        <span>Name:</span>
        <input id="user-name">

        <span>Phone:</span>
        <input id="user-phone">

        <span>Email:</span>
        <input id="user-phone">

    </div>

    <div style="display: flex; flex-direction: column; gap: 10px; width: 100%;">

        <span>Address:</span>
        <input id="user-address">

        <span>City:</span>
        <input id="user-city">

        <span>Pincode:</span>
        <input id="user-pincode">

    </div>

</div>